.gradient--chrome, body {
  background-image: linear-gradient(0deg, #ffffff, #9d9c9c);
  background-repeat: no-repeat; }

.common-box-shadow, .form-elem input[type="range"]::-webkit-slider-thumb, .form-elem input[type="range"]::-moz-range-thumb, .form-elem input[type="range"]::-ms-thumb, .btn,
a.btn {
  -moz-box-shadow: 2px 2px 7px 0px #899599;
  -webkit-box-shadow: 2px 2px 7px 0px #899599;
  box-shadow: 2px 2px 7px 0px #899599; }

body {
  background-attachment: fixed;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma;
  font-weight: normal;
  margin: 0;
  padding: 0 0 0.5em; }

a img {
  border: none; }

a:link {
  color: #000;
  text-decoration: none; }

a:visited {
  color: #000;
  text-decoration: none; }

a:hover, a:active, a:focus {
  text-decoration: none; }

.container {
  margin: 0 auto;
  text-align: center;
  width: 100%; }

.navigator {
  background-color: #333;
  height: 50px; }
  .navigator__heading {
    color: #fff;
    line-height: 50px;
    margin: 0;
    padding: 0; }
  .navigator .menu {
    height: 50px;
    left: 0;
    position: absolute;
    top: 0; }

.menu {
  color: #fff; }
  .menu__toggle {
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    width: 50px; }
  .menu__links {
    background: #888;
    text-align: left;
    width: 200px; }
    .menu__links ul, .menu__links li {
      margin: 0;
      padding: 0; }
    .menu__links li {
      margin: 0;
      padding: 5px; }

.viewer {
  padding: 30px 0; }

.the-clickr {
  padding: 0 0 30px 0; }
  .the-clickr__help-text {
    padding: 20px 0 0;
    font-size: 14.4px;
    font-size: 0.9rem; }

.softap__message {
  padding: 0 0 1em; }

.box {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto 20px;
  padding: 20px;
  width: 300px; }
  .box .title {
    color: #333;
    font-size: 19.2px;
    font-size: 1.2rem; }

.form-elem {
  padding: 0 0 1em;
  text-align: left; }
  .form-elem__label {
    color: #333;
    display: block;
    padding: 0.5em 0.75em;
    font-size: 16.8px;
    font-size: 1.05rem; }
  .form-elem__currentLabel {
    text-align: center; }
  .form-elem input[type="text"],
  .form-elem input[type="password"] {
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    padding: 0.5em 0.75em;
    text-align: left;
    font-size: 20px;
    font-size: 1.25rem; }
  .form-elem input[type="text"],
  .form-elem input[type="password"],
  .form-elem__currentLabel {
    color: #666;
    width: 100%; }
  .form-elem__help-text {
    padding: 5px 0;
    text-align: center;
    font-size: 12.8px;
    font-size: 0.8rem; }
  .form-elem * {
    margin: 0 auto; }
  .form-elem input[type="range"] {
    border: 1px solid #ddd;
    margin: 10px 0;
    height: 10px;
    width: 100%;
    -webkit-appearance: none; }
    .form-elem input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: #666;
      border-radius: 20px;
      height: 30px;
      width: 15px; }
    .form-elem input[type="range"]::-moz-range-thumb {
      -webkit-appearance: none;
      background-color: #666;
      border-radius: 20px;
      height: 30px;
      width: 15px; }
    .form-elem input[type="range"]::-ms-thumb {
      -webkit-appearance: none;
      background-color: #666;
      border-radius: 20px;
      height: 30px;
      width: 15px; }

.btn,
a.btn {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
  background: -moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background: -webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background: -o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background: -ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
  background-color: #ededed;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #333;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-style: normal;
  margin: 0 0.5em;
  padding: 10px 20px;
  text-decoration: none; }
  .btn:active,
  a.btn:active {
    background-color: #111; }

.btn--clickr {
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  background: url(../images/logo-clickr.png) center center no-repeat #333;
  background-size: 80% 80%;
  border-radius: 200px;
  font-size: 3vmax;
  line-height: 15vmax;
  height: 15vmax;
  text-indent: -9999px;
  padding: 0;
  width: 15vmax; }

@media only screen and (min-device-width: 275px) and (max-device-width: 840px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .btn--clickr {
    border-radius: 100px;
    font-size: 7vmax;
    padding: 4vmax 15vmax;
    padding-top: 38%; }
  .btn--clickr:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
    background: -moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background: -webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background: -o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background: -ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
    background-color: #bab1ba; }
  .btn--clickr:active {
    position: relative;
    top: 1px; } }

.is-visible {
  display: block; }

.is-hidden {
  display: none; }
