.btn {
    @extend .common-box-shadow;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
    background: -moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: -webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: -o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: -ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
    background-color: #ededed;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #333;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-style: normal;
    margin: 0 0.5em;
    padding: 10px 20px;
    text-decoration: none;

    &:active {
        background-color: #111;
    }
}

.btn--clickr {
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    background: url(../images/logo-clickr.png) center center no-repeat #333;
    background-size: 80% 80%;
    border-radius: 200px;
    font-size: 3vmax;
    line-height: 15vmax;
    height: 15vmax;
    text-indent: -9999px;
    padding: 0;
    width: 15vmax;
}
@media only screen
and (min-device-width : 275px)
and (max-device-width : 840px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
    .btn--clickr {
        border-radius:100px;
        font-size:7vmax;
        padding:4vmax 15vmax;
        padding-top: 38%;
    }
    .btn--clickr:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
        background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
        background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
        background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
        background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
        background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
        background-color:#bab1ba;
    }
    .btn--clickr:active {
        position:relative;
        top:1px;
    }
}