.form-elem {
    input[type="text"],
    &__currentLabel {
    	text-align: center;
    	@include font-size(1);
    }

    &__help-text {
    	padding: 5px 0;
    	text-align: center;
    	@include font-size(0.8);
    }

    & * {
    	margin: 0 auto;
    }
}