@charset "UTF-8";
@import "mixins";
@import "settings";

body {
    @extend .gradient--chrome;
    background-attachment: fixed;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Tahoma;
    font-weight: normal;
    margin: 0;
    padding: 0 0 0.5em;
}

a img {
    border: none;
}
a:link {
    color: #000;
    text-decoration: none;
}
a:visited {
    color: #000;
    text-decoration: none;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    //max-width: 720px;
    text-align: center;
    width: 100%;
}

@import "navigator";
@import "menu";
@import "viewer";
@import "the-clickr";
@import "softap";
@import "box";
@import "form-elem";
@import "btn";
@import "states";